<div class="">
 
  <div class="col-lg-8">
  <a [routerLink]="['/sample-page']" class="b-brand">
    <i class="fas fa-cube fa-2x" *ngIf="navCollapsed"> </i> 
    <!-- <img src="assets/images/GrowthSymbol.png" class="img-fluid" alt="logo" *ngIf="navCollapsed" /> -->
      <img src="assets/images/Bakertilly-logo-white.png" class="img-fluid" alt="logo" *ngIf="!navCollapsed" />
  
    <span class="b-title"></span>
  </a>
  </div>
  <div class="col-lg-4">
  <a href="javascript:" class="mobile-menu" [ngClass]="{ on: navCollapsed }" id="mobile-collapse" (click)="navCollapse()"><span></span></a>
</div>
</div>
