
<div *ngIf="!dataReady">
	<div class="d-flex justify-content-center">
		<div class="spinner-border" role="status">
			<span class="sr-only">Fetching data...</span>
		</div>
	</div>
</div>
<div class="col-xl-12" *ngIf="dataReady">
	<div class="row">
		<app-card cardTitle="Project Managers" [options]="false" blockClass="table-border-style">
			<table class="table table-hover">
				<thead>
					<tr>
						<th *ngIf="isAdmin">
							User ID
						</th>
						<th>Username</th>
						<th>Email</th>
						<th *ngIf="isAdmin"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of listManagers;">
						<td *ngIf="isAdmin">
							{{i.id}}
						</td>
						<td>{{i.display_name}}</td>
						<td>{{i.user_name}}</td>
						<td *ngIf="isAdmin">
							<div class="icons-box">
								<i class="change-role-icon feather icon-arrow-down"
									(click)="callbackChangeRole(i.id, false)"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</app-card>
	</div> <!-- .row -->
	
	<div class="row">
		<app-card cardTitle="Project Users" [options]="false" blockClass="table-border-style">
			<table class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>User ID</th>
						<th>Username</th>
						<th>Email</th>
						<th>Tranche Accesses</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let i of listUsers;">
						<td>
							<button class="btn btn-sm btn-primary" 
								(click)="callbackEditUser(i)">
								<div class="btn-inner">
									<i class="feather icon-edit"></i>
								</div>
							</button>
						</td>
						<td>{{i.id}}</td>
						<td>{{i.display_name}}</td>
						<td>{{i.user_name}}</td>
						<td>{{getTrancheFormatted(i)}}</td>
						<td>
							<div class="icons-box" *ngIf="isElevated">
								<i class="change-icon feather icon-arrow-up"
									(click)="callbackChangeRole(i.id, true)"
									*ngIf="isAdmin"></i>
								
								<i class="delete-icon feather icon-x"
									(click)="callbackDeleteUser(i.id)"></i>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</app-card>
	</div> <!-- .row -->
</div>
