
.btn {
	margin: 0px;
	padding: 0.5em;
}
.btn-inner {
	display: flex;
	align-items: center;
	justify-content: center;

	.icon-edit {
		font-size: 1em;
	}
}

.table td {
	vertical-align: middle;
}

.icons-box {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	column-gap: 0.4em;
}

.tranche-icon {
	cursor: pointer;

	color: mediumslateblue;
	font-size: 1em;
}
.delete-icon {
	cursor: pointer;
	
	color: red;
	font-size: 1.5em;
}
.change-icon {
	cursor: pointer;
	
	color: mediumslateblue;
	font-size: 1.5em;
}
