
<div class="modal-header bg-dark">
	<div class="flex-between">
		<h4 class="modal-title text-white">
			Question #{{question.q_num}} -
			<span class="small">
				Last edited:
				{{question.date_edit | date}}
				<br>
			</span>
		</h4>
		<div>
			<span class="small"><p>Ticket ID <i>#{{question.id}}</i></p></span>
		</div>
	</div>
	<button type=" button" class="btn-close btn-close-white" data-bs-dismiss="modal" 
		aria-label="Close" (click)="callbackClose($event)"></button>
</div>
<div class="modal-body">
	<p *ngIf="question.account != null">Account Number: {{question.account.id}}</p>
	<p><strong>Category:</strong> {{question.category | uppercase}}</p>
	<h4 class="text-black">
		Question
		<span class="small">
			- <i>Date Posted: {{question.date_post | date}}</i>
		</span>
	</h4>
	<p class="text-muted mb-4">{{question.q_text}}</p>
	<h4 class="text-black">
		Answer
		<span class="small">
			- <i>Date Answered: {{question.date_a_approve | date}}</i>
		</span>
	</h4>
	<p class="text-muted "> {{question.a_text}}</p>

	<h4 class="text-black">Documents</h4>
	<div *ngFor="let doc of question.attachments">
		<p>
			<a href="/docs/pdf/{{doc.id}}" target="_blank">{{doc.name}}</a>
		</p>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
		(click)="callbackClose($event)">Close
	</button>
	<button type="button" class="btn btn-primary shadow-2" (click)="callbackClose($event)">Save changes
	</button>
</div>
