
<div class="modal-header bg-dark">
	<div class="flex-between">
		<h4 class="modal-title text-white">
			Question #{{question.q_num}} -
			<span class="small">
				Last edited:
				{{question.date_edit | date}}
				<br>
			</span>
		</h4>
		<div>
			<span class="small"><p>Ticket ID <i>#{{question.id}}</i></p></span>
		</div>
	</div>
	<button type=" button" class="btn-close btn-close-white" data-bs-dismiss="modal" 
		aria-label="Close" (click)="callbackClose($event)"></button>
</div>
<div class="modal-body">
	<p>Account Number: {{question.account.id}}</p>
	<p><strong>Category:</strong> {{question.category | uppercase}}</p>
	<h4 class="text-black">
		Question
		<span class="small">
			- <i>Date Posted: {{question.date_post | date}}</i>
		</span>
	</h4>
	<p class="text-muted mb-4">{{question.q_text}}</p>
	<h4 class="text-black">
		Answer
		<span class="small">
			- <i>Date Answered: {{question.date_a_approve | date}}</i>
		</span>
	</h4>
	<p class="text-muted "> {{question.a_text}}</p>

	<h4 class="text-black">Documents</h4>
	<div *ngFor="let doc of question.attachments">
		<p>
			<a href="/docs/pdf/{{doc.id}}" target="_blank">{{doc.name}}</a>
		</p>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
		(click)="callbackClose($event)">Close
	</button>
	<button type="button" class="btn btn-primary shadow-2" (click)="callbackClose($event)">Save changes
	</button>
</div>

<!-- <app-card cardTitle="Advance" [options]="false">
		<div class="btn-page">
		<button
			data-pc-animate="fade-in-scale"
			type="button"
			class="btn btn-primary me-2"
			data-bs-toggle="modal"
			data-modal="modal-16"
			(click)="openMyModal('modal-16')"
		>
			Blur
		</button>
		<app-animation-modal [modalID]="'modal-16'" [modalClass]="'md-effect-16'">
			<ng-container *ngTemplateOutlet="modalContents"></ng-container>
		</app-animation-modal>
		<button
			data-pc-animate="fade-in-scale"
			type="button"
			class="btn btn-primary me-2"
			data-bs-toggle="modal"
			data-modal="modal-17"
			(click)="openMyModal('modal-17')"
		>
			Let Me In
		</button>
		<app-animation-modal [modalID]="'modal-17'" [modalClass]="'md-effect-17'">
			<ng-container *ngTemplateOutlet="modalContents"></ng-container>
		</app-animation-modal> 
		<button
			data-pc-animate="fade-in-scale"
			type="button"
			class="btn btn-primary me-2"
			data-bs-toggle="modal"
			data-modal="modal-18"
			(click)="openMyModal('modal-18')"
		>
			Make Way!
		</button>
		<app-animation-modal [modalID]="'modal-18'" [modalClass]="'md-effect-18'">
			<ng-container *ngTemplateOutlet="modalContents"></ng-container>
		</app-animation-modal>
		<button
			data-pc-animate="fade-in-scale"
			type="button"
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-modal="modal-19"
			(click)="openMyModal('modal-19')"
		>
			Slip from top
		</button>
			<app-animation-modal [modalID]="'modal-19'" [modalClass]="'md-effect-19'">
			<ng-container *ngTemplateOutlet="modalContents"></ng-container>
		</app-animation-modal> 
		</div>
	</app-card> -->
