
<div class="modal-header bg-dark">
	<div class="flex-between" style="width: 90%;">
		<h4 class="modal-title text-white">
			Question #{{question.q_num}} -
			<span class="small">
				Last edited:
				{{question.date_edit | date:'yyyy-MM-dd, HH:mm'}}
				<br>
			</span>
		</h4>
		<div>
			<span class="small"><p>Ticket ID <i>#{{question.id}}</i></p></span>
		</div>
	</div>
	<button type=" button" class="btn-close btn-close-white" data-bs-dismiss="modal" 
		aria-label="Close" (click)="callbackClose($event)"></button>
</div>
<div class="modal-body">
	<p *ngIf="question.account != null">Account Number: {{question.account.id_pretty}}</p>
	<p><strong>Category:</strong> {{question.category | uppercase}}</p>
	
	<hr>
	
	<div class="qa-box">
		<h4 class="text-muted">Question</h4>
		<p class="date-text"><i>
			Posted {{question.date_post | date:'yyyy-MM-dd, HH:mm'}}
		</i></p>
		
		<p class="text-black mb-4">{{question.q_text}}</p>
	</div>
	
	<div class="qa-box" *ngIf="question.a_text != null; else noAnswer">
		<h4 class="text-muted">Answer</h4>
		<p class="date-text"><i>
			Answered {{question.date_answered | date:'yyyy-MM-dd, HH:mm'}}
		</i></p>
		
		<p class="text-black mb-4">{{question.a_text}}</p>
	</div>
	<ng-template #noAnswer>
		<p class="text-muted">Question has not been answered</p>
	</ng-template>
	
	<div *ngIf="question.attachments.length > 0">
		<hr>
		<h4 class="text-black">Documents</h4>
		
		<div *ngFor="let doc of question.attachments">
			<p>
				<a href="/docs/pdf/{{doc.id}}" target="_blank">{{doc.name}}</a>
			</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"
		(click)="callbackClose($event)">Close
	</button>
	<!-- <button type="button" class="btn btn-primary shadow-2" (click)="callbackClose($event)">Save changes
	</button> -->
</div>
