
<div *ngIf="state == 'load'" class="simple-icon-box">
	<div class="spinner-border" role="status"></div>
</div>

<div *ngIf="state == 'error'" class="simple-icon-box">
	<i class="feather icon-x" style="color: red;"></i>
	
	<h2>Error</h2>
	<h3>{{error}}</h3>
</div>
<div *ngIf="state == 'success'" class="simple-icon-box">
	<i class="feather icon-check" style="color: green;"></i>

	<h2>Password reset</h2>
	<h3>You may now login with your new password</h3>
</div>

<div *ngIf="state == 'form'">
	<div class="auth-wrapper aut-bg-img">
		<div class="auth-content">
			<div class="text-center">
				<h2 class="mb-3">Reset Password</h2>
				<h4 class="mb-5">Password must be at least 6 characters, and contains at least 1 digit</h4>
				
				<div class="alert alert-primary mt-0 mb-2" *ngIf="project">
					You are resetting your password for project "{{project}}"
				</div>
			</div>
			<div class="card-body text-center">
				<form [formGroup]="form" (ngSubmit)="onSubmit()">
					<div class="mb-3 input-group-line">
						<input type="password" formControlName="password" class="form-control"
							placeholder="Password"
							[class.invalid]="password.errors" />
						<!-- TODO: Make the eye icon for toggling password visible/hidden -->
					</div>
					<div class="mb-4 input-group-line">
						<input type="password" formControlName="confirm" class="form-control"
							placeholder="Confirm password"
							[class.invalid]="confirm.errors" />
					</div>
					
					<br>
					<div>
						<button *ngIf="!dataLoading" class="btn btn-primary"
							placeholder="Confirm password"
							[disabled]="form.invalid">
							Reset Password
						</button>
						<button *ngIf="dataLoading" class="btn btn-primary" type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
						</button>
					</div>
					
					<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
				</form>
			</div>
		</div>
	</div>
</div>