
<div class="form-group">
	<h4>{{title}}</h4>
	
	<div *ngIf="loading">
		<div class="d-flex justify-content-center">
			<div class="spinner-border" role="status"></div>
		</div>
	</div>
	<div *ngIf="!loading">
		<div *ngIf="urlResource; else noImage">
			<img [src]="urlResource" alt="{{title}}" />
			
			<button type="button" class="btn btn-secondary" (click)="callbackEditImage()">
				Change
			</button>
		</div>
		<ng-template #noImage>
			<p class="text-muted"><i>No image</i></p>
			
			<button type="button" class="btn btn-secondary" (click)="callbackEditImage()">
				Upload
			</button>
		</ng-template>
	</div>
</div>
