
.upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.upload-box .feather {
	color: cornflowerblue;
	font-size: 5em;
	margin-bottom: 1rem;
}
.upload-box h3 {
	margin-bottom: 0px;
}
.upload-box:hover {
	cursor: pointer;
}
