
<div class="col-xl-12">
	<app-card cardTitle="Recent Documents" [options]="false" blockClass="table-border-style">
		<div *ngIf="!listReady()">
			<div class="d-flex justify-content-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Fetching data...</span>
				</div>
			</div>
		</div>
		<div class="" *ngIf="listReady()">
			<div class="row">
				<input type="text" class="form-control bg-transparent" 
					placeholder="Search by file name" 
					[(ngModel)]="filter.searchText" (change)="callbackUpdateList()">
			</div>
			<br>
			<div class="row filter-text-row">
				<div class="col-md-4">
					<label for="formGroupTypeFilter">Filter by type</label>
					<ng-select [items]="typeSelectLabels" 
						bindLabel="label" bindValue="value" [(ngModel)]="filter.type"
						[clearable]="false" [searchable]="false" 
						(change)="callbackUpdateList()">
					</ng-select>
				</div>
				
				<div class="col-md-8 " *ngIf="filter.type == 1">
					<br>
					<input type="text" class="form-control bg-transparent" 
						placeholder="Filter by question ID" 
						[(ngModel)]="filter.questionId" (change)="callbackUpdateList()">
				</div>
				<div class="col-md-8" *ngIf="filter.type == 2">
					<br>
					<input type="text" class="form-control bg-transparent" 
						placeholder="Filter by account name" 
						[(ngModel)]="filter.accountName" (change)="callbackUpdateList()">
				</div>
			</div>
			<br><hr>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Uploaded</th>
						<th>Name</th>
						<th>Description</th>
						<th>From</th>
						<ng-container *ngIf="enablePrintCheckbox">
							<th>Printable</th>
						</ng-container>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let d of listDocumentDisplay">
						<td>
							<a href="/docs/pdf/{{d.id}}">
								{{d.id}}
							</a>
						</td>
						<td>{{d.date_upload | date:'yyyy-MM-dd, HH:mm'}}</td>
						<td>{{d.name}}</td>
						<td>{{shortDesc(d.description)}}</td>
						
						<td *ngIf="d.assoc_post == null && d.assoc_account == null">
							This project
						</td>
						<td *ngIf="d.assoc_post != null">
							Question <i><a href="#" (click)="callbackNavigateToQuestion(d)">#{{getIdText(d)}}</a></i>
						</td>
						<td *ngIf="d.assoc_account != null">
							Account <i>#{{getIdText(d)}}</i>
						</td>
						
						<td *ngIf="enablePrintCheckbox">
							<div class="form-check">
								<input type="checkbox" 
									(change)="callbackChangePrintable(d)" 
									[checked]="d.allow_print">
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div style="float: right;" *ngIf="enablePrintCheckbox">
				<div *ngIf="!printableUpdateLoading">
					<button type="button" class="btn btn-primary" (click)="callbackUpdatePrintable()">
						Update Printable
					</button>
				</div>
				<div *ngIf="printableUpdateLoading">
					<button class="btn btn-primary" type="button" disabled>
						<span class="spinner-border spinner-border-sm" 
							role="status" aria-hidden="true"></span>
						Updating data...
					</button>
				</div>
			</div>
		</div>
	</app-card>
</div>
