
<div class="col-xl-12">
	<app-card cardTitle="Recent Documents" [options]="false" blockClass="table-border-style">
		<div *ngIf="!listReady()">
			<div class="d-flex justify-content-center">
				<div class="spinner-border" role="status">
					<span class="sr-only">Fetching data...</span>
				</div>
			</div>
		</div>
		<div class="" *ngIf="listReady()">
			<div class="row">
				<input type="text" class="form-control bg-transparent" 
					placeholder="Search by file name" 
					[(ngModel)]="filter.searchText" (change)="callbackUpdateList()">
			</div>
			<br>
			<div class="row filter-text-row">
				<div class="col-md-4">
					<label for="formGroupTypeFilter">Filter by type</label>
					<ng-select [items]="typeSelectLabels" 
						bindLabel="label" bindValue="value" [(ngModel)]="filter.type"
						[clearable]="false" [searchable]="false" 
						(change)="callbackUpdateList()">
					</ng-select>
				</div>
				
				<div class="col-md-8 " *ngIf="filter.type == 1">
					<br>
					<input type="text" class="form-control bg-transparent" 
						placeholder="Filter by question ID" 
						[(ngModel)]="filter.questionId" (change)="callbackUpdateList()">
				</div>
				<div class="col-md-8" *ngIf="filter.type == 2">
					<br>
					<input type="text" class="form-control bg-transparent" 
						placeholder="Filter by account name" 
						[(ngModel)]="filter.accountName" (change)="callbackUpdateList()">
				</div>
			</div>
			<br><hr>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<ng-container *ngIf="enableModifyData">
							<th></th>
						</ng-container>
						
						<th>#</th>
						<th>Uploaded</th>
						<th>Name</th>
						<th>Description</th>
						<th>From</th>
						
						<ng-container *ngIf="enableModifyData">
							<th>Printable</th>
						</ng-container>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let i of listDocumentDisplay; let indexOfelement=index;">
					<tr  *ngIf="indexOfelement >= listStart && indexOfelement <= listEnd">
						<td *ngIf="enableModifyData">
							<div class="form-check">
								<input type="checkbox" 
									(change)="callbackSetItemSelected(i)" 
									[checked]="false">
							</div>
						</td>
						
						<td>
							<a href="/docs/pdf/{{i.data.id}}">
								{{i.data.id}}
							</a>
						</td>
						<td>{{i.data.date_upload | date:'yyyy-MM-dd, HH:mm'}}</td>
						<td>{{i.data.name}}</td>
						<td>{{shortDesc(i.data.description)}}</td>
						
						<td *ngIf="i.data.assoc_post == null && i.data.assoc_account == null">
							This project
						</td>
						<td *ngIf="i.data.assoc_post != null">
							Question <i><a href="#" (click)="callbackNavigateToQuestion(i.data)">
								#{{getIdText(i.data)}}</a></i>
						</td>
						<td *ngIf="i.data.assoc_account != null">
							Account <i>#{{getIdText(i.data)}}</i>
						</td>
						
						<td *ngIf="enableModifyData">
							<div class="d-flex justify-content-center align-items-center">
								<i style="color: green;" class="feather icon-check" *ngIf="i.data.allow_print"></i>
								<i style="color: red;" class="feather icon-x" *ngIf="!i.data.allow_print"></i>
							</div>
						</td>
					</tr>
				</ng-container>
				</tbody>
			</table>
			<div class="row"> <div class="col-sm-6">
			<ngb-pagination [collectionSize]="listDocuments.length" [(page)]="page" [boundaryLinks]="true"  [pageSize]="pageSize" (pageChange)="onPageChange($event)"/>
		</div>
		<div class="col-sm-2"><h3>Edit Selected items </h3></div>
		<div class="col-sm-4">
			
			<div *ngIf="enableModifyData" id="actions-box">
				<div *ngIf="buttonLoading != 'print'">
					<div ngbDropdown class="d-inline-block">
						<button type="button" class="btn btn-outline-primary" id="ddSetPrintable" ngbDropdownToggle>
							Change printable
						</button>
						<div ngbDropdownMenu aria-labelledby="ddSetPrintable">
							<button ngbDropdownItem
								(click)="callbackUpdatePrintable(true)">
								Set to true
							</button>
							<button ngbDropdownItem
								(click)="callbackUpdatePrintable(false)">
								Set to false
							</button>
						</div>
					</div>
				</div>
				<div *ngIf="buttonLoading == 'print'">
					<button class="btn btn-primary" type="button" disabled>
						<span class="spinner-border spinner-border-sm" 
							role="status" aria-hidden="true"></span>
						Updating data...
					</button>
				</div>
				
				<div *ngIf="buttonLoading != 'delete'">
					<button type="button" class="btn btn-danger" 
						(click)="callbackDeleteDocuments()">
						Delete document
					</button>
				</div>
				<div *ngIf="buttonLoading == 'delete'">
					<button class="btn btn-danger" type="button" disabled>
						<span class="spinner-border spinner-border-sm" 
							role="status" aria-hidden="true"></span>
						Deleting data...
					</button>
				</div>
				
			</div>
		
		</div>
	</div>
		
		</div>
	</app-card>
	
	<br><br>
</div>
