
<div class="modal-header">
	<h2>Reset Password</h2>
	<button type="button" class="btn-close" aria-label="Close" (click)="callbackClose()"></button>
</div>
<div class="modal-body">
	<div *ngIf="state == 0">
		<div class="m-form-group">
			<form [formGroup]="form">
				<div class="m-input-group">
					<h4>Please enter your email address</h4>
					<input type="text" formControlName="email" class="form-control"
						[class.invalid]="email.errors" />
				</div>
			</form>
		</div>
		
		<div class="alert alert-primary mt-0 mb-4" *ngIf="project">
			You are resetting your password for the project "{{project}}"
		</div>
		
		<div class="d-flex justify-content-center">
			<ng-container *ngIf="!loading">
				<button type="button" class="btn btn-primary" (click)="callbackSend()"
					[disabled]="form.invalid">
					Confirm
				</button>
				<button type="button" class="btn btn-secondary" (click)="callbackClose()">
					Cancel
				</button>
			</ng-container>
			<ng-container *ngIf="loading">
				<div class="spinner-border" role="status"></div>
			</ng-container>
		</div>
	</div>
	<div *ngIf="state == 1">
		<h4>Further instructions have been sent to your email.</h4>
		<h4>Please follow the steps within to reset your password.</h4>
		<br>
		
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-secondary" (click)="callbackClose()">
				Close
			</button>
		</div>
	</div>
</div>
