<div class="col-xl-12">
    <app-card cardTitle="Hover Table" [options]="false" blockClass="table-border-style">
      <div class="">
        <table class="table table-hover">
          <thead>
            <tr>
              <th >#</th>
              <th >Account</th>
              <th >Date Posted</th>
              <th class="w-30">Questions</th>
            
              <th style="width:30%">Answer</th>
              <th >Date Answered</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let q of questions">
            <td>{{q.q_num}}</td>
            <td>{{q.account.id}}</td>
            <td>{{q.date_post | date}}</td>
            <td >{{q.q_text}}</td>
           
            <td>{{q.a_text}}</td>
            <td></td>
        </tr>
           <!--   <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
            
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Mark</td>
              <td>Otto</td>
           
            </tr>
           
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
