<div class="col-xl-12">
	<app-card [cardTitle]="getCardTitle()" [options]="false" blockClass="table-border-style">
		<div class="">
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
					</div>
				</div>
				<div class="col-md-3">
					<select class="form-control" [(ngModel)]="qfilter.has_answer">
						<option [ngValue]="null" selected>Select Answered Status</option>
						<option [ngValue]="true">Answered</option>
						<option [ngValue]="false">Not Answered</option>
					</select>
				</div>
				<div class="col-md-3">
					<select class="form-control" [(ngModel)]="filter2.category" (change)="updateFilter()">
						<option [ngValue]="''" selected>Filter by Category Type</option>
						<option [ngValue]="'general'">General</option>
						<option [ngValue]="'collateral'">Collateral</option>
						<option [ngValue]="'guarantor'">Guarantor</option>
						<option [ngValue]="'litigation'">Litigation</option>
						
					</select>
					
				</div>
				<div class="col-md-3">

					<ng-select [items]="accountList$" [multiple]="true" bindLabel="login" bindValue="login" [clearable]="false" [(ngModel)]="accountList" [hidden]="qType === 'general'">
						<ng-template ng-label-tmp let-item="item" let-clear="clear">
						  <span class="ng-value-label"> {{ item }}</span>
						  <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> 
						</ng-template>
			
						<ng-template ng-option-tmp let-item="item">
						   {{ item }}
						</ng-template>
					  </ng-select>
					<!-- <input type="text" class="form-control" placeholder="Account" [(ngModel)]="accountFilter"> -->
					<!-- <ng-select
				
					[items]="accountList$ | async"
					[multiple]="true"
					[closeOnSelect]="false"
					[clearable]="false"
					[searchable]="false"
					bindLabel="name"
					placeholder="Select Account"
					[(ngModel)]="accountList"
					
				  >
				  </ng-select> -->
		
					</div>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th >#</th>
						<th *ngIf="qType === 'account'">Account</th>
						<th >Date Posted</th>
						<th class="w-30">Questions</th>
						
						<th style="width:30%">Answer</th>
						<th>Date Answered</th>
						<th>Documents</th>
					</tr>
				</thead>
			<tbody>
					<!-- <ng-container *ngFor="let q of questions | search:searchText : accountList : qfilter.has_answer:  filter2; let indexOfelement=index;">-->
						<ng-container *ngFor="let q of questions | search:searchText : accountList : qfilter.has_answer :  filter2; let indexOfelement=index;"> 
					
						<tr     (click)="openMyModal('modal-16',q)" role="button" *ngIf="indexOfelement >= listStart && indexOfelement <= listEnd">
						<td>{{q.q_num}}</td>
						<td *ngIf="qType === 'account'">{{q.account.id_pretty}}</td>
						<td>{{q.date_post | date}}</td>
						<td >{{q.q_text}}</td>
					
						<td>{{q.a_text}}</td>
						<!-- <td>{{q.d}}</td> -->
						<td>{{q.date_answered | date}}</td>
						<td>
							<span *ngFor="let doc of q.attachments">
								<a href="/docs/pdf/{{doc.id}}" target="_blank">{{doc.name}}</a></span>
						</td>
					</tr>
				</ng-container>
			</tbody>
			</table>
			<div class="row">
				<div class="col-lg-8"><ngb-pagination [collectionSize]="filteredQuestionsCount" [(page)]="page" [boundaryLinks]="true"  [pageSize]="pageSize" (pageChange)="onPageChange($event)"/></div>
				<div class="col-lg-4"><button class="btn btn-primary" (click)="exportexcel()">Export to Excell</button></div>
			</div>
			
			
		</div>
		
		<!-- <pre>list start: {{ listStart}} - {{ listEnd}}</pre> -->
	</app-card>
</div>

