
<app-navigation
	class="pcoded-navbar"
	[ngClass]="{
		'theme-horizontal': this.config['layout'] === 'horizontal'
	}"
	[navItems]="navItems"
>
	<!-- Content projection on .custom-nav-logo -->
	<div class="custom-nav-logo">
		<i class="feather icon-compass"></i>
		<h2>Admin Panel</h2>
	</div>
</app-navigation>

<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<div class="main-body">
					<div class="page-wrapper">
						<router-outlet></router-outlet>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
