
.pcoded-main-container {
	//background-color: black;
}

.custom-nav-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	
	.icon-compass {
		color: white;
		font-size: 24px;
		margin-right: 0.4em;
	}
	h2 {
		color: white;
		margin-bottom: 0px;
	}
}
