
<app-card cardTitle="Project Info" [options]="false">
	
	<div class="form-group">
		<h4>Name</h4>
		<input class="form-control" id="name-text-input" 
			[(ngModel)]="modelEdit.name"/>
	</div>
	
	<hr />
	<div class="form-group">
		<h4>Display Name</h4>
		<input class="form-control" id="display-text-input" 
			(keyup.enter)="callbackEditTitle()"
			(blur)       ="callbackEditTitle()"
			[(ngModel)]="modelEdit.display_name" />
	</div>
	
	<hr />
	<div class="form-group">
		<h4>Description</h4>
		<div class="NgxEditor__Wrapper" id="desc-edit">
			<ngx-editor-menu [editor]="editor" [toolbar]="editorToolbar" />
			<ngx-editor [editor]="editor"
				[placeholder]="'Type here...'"
				[(ngModel)]="modelEdit.description" 
				(ngModelChange)="callbackEditorChange($event)">
			</ngx-editor>
		</div>
	</div>
	
	<hr />
	<div class="form-group">
		<h4>Company Name</h4>
		<input class="form-control" id="company-input" 
			[(ngModel)]="modelEdit.company" />
	</div>
	
	<hr />
	<div class="form-group">
		<h4>End Date</h4>
		<div class="row">
			<div class="col-4">
				<input type="text" class="form-control" 
					[minDate]="minEndDate()"
					#dp="ngbDatepicker" 
					ngbDatepicker readonly
					[(ngModel)]="this.project.date_end">
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-secondary" 
					(click)="dp.toggle()" 
					[attr.aria-expanded]="dp.isOpen">
					Select Date
				</button>
			</div>
		</div>
	</div>
	
	<hr />
	<button type="button" class="btn btn-primary"
		(click)="callbackUpdateInfo()">
		Update Project Info
	</button>
	
</app-card>
