
<app-card [options]="false" [customHeader]="true">
	<!-- Custom header; app-card has content projection on .app-card-header -->
	<div class="app-card-header">
		<div *ngIf="!editingTitle">
			<div id="project-name-line" 
				(mouseover)="showTitleEditIcon = true" 
				(mouseout) ="showTitleEditIcon = false">
				
				<h5>{{project.display_name}}</h5>
				<div id="icons-group">
					<i class="bi bi-pencil" 
						[style.visibility]="showTitleEditIcon ? 'visible' : 'hidden'"
						(click)="callbackClickEditTitle(true)"></i>
				</div>
			</div>
		</div>
		<div *ngIf="editingTitle">
			<div class="form-group">
				<input class="form-control" id="title-text-input" 
					[(ngModel)]="project.display_name" 
					(keyup.enter)="callbackClickEditTitle(false)"
					(blur)       ="callbackClickEditTitle(false)"
					#elemTitleTextInput/>
			</div>
		</div>
	</div>
	
	<div>
		<div *ngIf="!editingDescription">
			<div class="NgxEditor__Wrapper" id="showDesc">
				<ngx-editor [editor]="editor"
					[disabled]="true"
					[(ngModel)]="descHtml">
				</ngx-editor>
			</div>
			<!-- <div id="showDesc" [innerHTML]="descHtml"></div> -->
			
			<hr />
			<button type="button" class="btn btn-primary"
				(click)="callbackClickEditDesc(true)">
				Edit Description
			</button>
		</div>
		<div *ngIf="editingDescription">
			<div class="NgxEditor__Wrapper" id="editDesc">
				<ngx-editor-menu [editor]="editor" [toolbar]="editorToolbar" />
				<ngx-editor [editor]="editor"
					[(ngModel)]="descHtml" 
					(ngModelChange)="callbackEditorChange($event)">
				</ngx-editor>
			</div>
			
			<br />
			<button type="button" class="btn btn-primary"
				(click)="callbackClickEditDesc(false)">
				Confirm Edit
			</button>
		</div>
	</div>
</app-card>
