
<div class="modal-header">
	<h2 class="modal-title" id="modal-basic-title">{{title}}</h2>
	<button type="button" class="btn-close" aria-label="Close" 
		(click)="callbackAction(false)"></button>
</div>
<div class="modal-body">
	<ng-container *ngFor="let line of content">
		<h3 *ngIf="!line.red">{{line.str}}</h3>
		<h3 *ngIf="line.red" style="color: red;">{{line.str}}</h3>
	</ng-container>
	
	<div class="d-flex justify-content-center align-items-center">
		<button type="button" class="btn btn-primary" (click)="callbackAction(false)">
			Cancel
		</button>
		<button type="button" class="btn btn-danger" (click)="callbackAction(true)">
			Confirm
		</button>
	</div>
</div>
