/**  =====================
      calender css start
==========================  **/
.choose-color {
  border: none;
}
.text-color-pick {
  border: none;
  background: none;
}

// @include media-breakpoint-down(md) {}
// mail css end
