
<div class="modal-header">
	<h2>Create New Project</h2>
	<button type="button" class="btn-close" aria-label="Close" (click)="callbackAction(false)"></button>
</div>
<div class="modal-body">
	<div class="m-form-group">
		<form [formGroup]="form">
			<div class="m-input-group">
				<h4>Project ID (Required)</h4>
				<input type="text" formControlName="id" class="form-control"
					[(ngModel)]="model.name"
					placeholder="Alphanumeric or underscore of at least length 4" />
			</div>
			
			<div class="m-input-group">
				<h4>Display Name (Required)</h4>
				<input type="text" formControlName="name" class="form-control"
					[(ngModel)]="model.display_name" />
			</div>
			
			<div class="m-input-group">
				<h4>Company Name</h4>
				<input type="text" formControlName="company" class="form-control" />
			</div>
		</form>
		
		<div class="row m-input-group">
			<div class="col-6">
				<h4>Start Date</h4>
				<div class="input-group">
					<input class="form-control" 
						[(ngModel)]="model.date_start" ngbDatepicker readonly
						#ds="ngbDatepicker" />
					<button class="btn btn-secondary bi bi-calendar3" 
						(click)="ds.toggle()" type="button"></button>
				</div>
			</div>
			
			<div class="col-6">
				<h4>End Date</h4>
				<div class="input-group">
					<input class="form-control" 
						[(ngModel)]="model.date_end" ngbDatepicker readonly
						#de="ngbDatepicker" />
					<button class="btn btn-secondary bi bi-calendar3" 
						(click)="de.toggle()" type="button"></button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="d-flex justify-content-center align-items-center" *ngIf="loading">
		<div class="spinner-border" role="status"></div>
	</div>
	<div *ngIf="!loading">
		<ng-container *ngIf="this.error">
			<div class="alert alert-danger mt-0 mb-3">{{error}}</div>
		</ng-container>
		
		<div class="d-flex justify-content-center">
			<button type="button" class="btn btn-primary" (click)="callbackAction(true)">
				Confirm
			</button>
			<button type="button" class="btn btn-secondary" (click)="callbackAction(false)">
				Cancel
			</button>
		</div>
	</div>
</div>
